<div> 
    <div class='flex'>
        <h3 class='font-bold'>
            Notification
        </h3>
        <div className='rounded-full h-5 w-5 flex items-center justify-center bg-green-400'>
            2
        </div>
    </div>
</div>
    