/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# Ignore assets that are produced by build tools.
/priv/static/assets/
/priv/static/**/*-????????????????????????????????.*
/priv/static/**/*.gz

# Ignore digested assets cache.
/priv/static/cache_manifest.json

src/otpcode/log/
npm-debug.log
/assets/node_modules/
/Mnesia
Mnesia
mazaryn-front
/mazaryn-front
/uploads
