/_build
/cover
/deps
/doc
/.fetch
erl_crash.dump
*.ez
*.beam
/config/*.secret.exs
.elixir_ls/

# Ignore assets that are produced by build tools.
/priv/static/assets/
/priv/static/**/*-????????????????????????????????.*
/priv/static/**/*.gz

# Ignore digested assets cache.
/priv/static/cache_manifest.json

/priv/static/uploads/
src/otpcode/log/
npm-debug.log
/assets/node_modules/
/Mnesia
Mnesia
mazaryn-front
/mazaryn-front
/uploads
/src/otpcode/src/nif/quantum/*.so
/src/otpcode/src/nif/quantum/*.cmake
/src/otpcode/src/nif/quantum/Makefile
/src/otpcode/src/nif/quantum/CMakeFiles
/src/otpcode/src/nif/quantum/CMakeCache.txt
/src/otpcode/_build
/src/otpcode/src/nif/tensorflow/*.so
/src/otpcode/src/nif/tensorflow/*.cmake
/src/otpcode/src/nif/tensorflow/Makefile
/src/otpcode/src/nif/tensorflow/CMakeFiles
/src/otpcode/src/nif/tensorflow/CMakeCache.txt

.idea
.iex.exs
