{<<"app">>,<<"epgsql">>}.
{<<"build_tools">>,[<<"rebar3">>]}.
{<<"description">>,<<"PostgreSQL Client">>}.
{<<"files">>,
 [<<"LICENSE">>,<<"README.md">>,<<"include/epgsql.hrl">>,
  <<"include/epgsql_geometry.hrl">>,<<"include/protocol.hrl">>,
  <<"rebar.config">>,<<"rebar.lock">>,<<"src/commands/epgsql_cmd_batch.erl">>,
  <<"src/commands/epgsql_cmd_bind.erl">>,
  <<"src/commands/epgsql_cmd_close.erl">>,
  <<"src/commands/epgsql_cmd_connect.erl">>,
  <<"src/commands/epgsql_cmd_copy_done.erl">>,
  <<"src/commands/epgsql_cmd_copy_from_stdin.erl">>,
  <<"src/commands/epgsql_cmd_describe_portal.erl">>,
  <<"src/commands/epgsql_cmd_describe_statement.erl">>,
  <<"src/commands/epgsql_cmd_equery.erl">>,
  <<"src/commands/epgsql_cmd_execute.erl">>,
  <<"src/commands/epgsql_cmd_parse.erl">>,
  <<"src/commands/epgsql_cmd_prepared_query.erl">>,
  <<"src/commands/epgsql_cmd_squery.erl">>,
  <<"src/commands/epgsql_cmd_start_replication.erl">>,
  <<"src/commands/epgsql_cmd_sync.erl">>,
  <<"src/commands/epgsql_cmd_update_type_cache.erl">>,
  <<"src/datatypes/epgsql_codec_boolean.erl">>,
  <<"src/datatypes/epgsql_codec_bpchar.erl">>,
  <<"src/datatypes/epgsql_codec_datetime.erl">>,
  <<"src/datatypes/epgsql_codec_float.erl">>,
  <<"src/datatypes/epgsql_codec_geometric.erl">>,
  <<"src/datatypes/epgsql_codec_hstore.erl">>,
  <<"src/datatypes/epgsql_codec_integer.erl">>,
  <<"src/datatypes/epgsql_codec_intrange.erl">>,
  <<"src/datatypes/epgsql_codec_json.erl">>,
  <<"src/datatypes/epgsql_codec_net.erl">>,
  <<"src/datatypes/epgsql_codec_noop.erl">>,
  <<"src/datatypes/epgsql_codec_postgis.erl">>,
  <<"src/datatypes/epgsql_codec_text.erl">>,
  <<"src/datatypes/epgsql_codec_timerange.erl">>,
  <<"src/datatypes/epgsql_codec_uuid.erl">>,<<"src/epgsql.app.src">>,
  <<"src/epgsql.erl">>,<<"src/epgsql_binary.erl">>,<<"src/epgsql_codec.erl">>,
  <<"src/epgsql_command.erl">>,<<"src/epgsql_copy.hrl">>,
  <<"src/epgsql_errcodes.erl">>,<<"src/epgsql_fdatetime.erl">>,
  <<"src/epgsql_idatetime.erl">>,<<"src/epgsql_oid_db.erl">>,
  <<"src/epgsql_replication.hrl">>,<<"src/epgsql_sasl_prep_profile.erl">>,
  <<"src/epgsql_scram.erl">>,<<"src/epgsql_sock.erl">>,
  <<"src/epgsql_wire.erl">>,<<"src/epgsqla.erl">>,<<"src/epgsqli.erl">>,
  <<"src/ewkb.erl">>]}.
{<<"licenses">>,[<<"BSD">>]}.
{<<"links">>,[{<<"Github">>,<<"https://github.com/epgsql/epgsql">>}]}.
{<<"name">>,<<"epgsql">>}.
{<<"requirements">>,[]}.
{<<"version">>,<<"4.6.0">>}.
