/* This file is for your main application css. */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sarabun:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer base {
    html {
        font-family: "Poppins", sans-serif;
    }
}


/* Alerts and form errors used by phx.new */

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.alert p {
    margin-bottom: 0;
}
.alert:empty {
    display: none;
}
.invalid-feedback {
    color: #a94442;
    display: block;
    margin: -1rem 0 2rem;
}



/* LiveView specific classes for your customization */

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-loading {
  cursor: wait;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.fade-in-scale {
  animation: 0.2s ease-in 0s normal forwards 1 fade-in-scale-keys;
}

.fade-out-scale {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-scale-keys;
}

.fade-in {
  animation: 0.2s ease-out 0s normal forwards 1 fade-in-keys;
}
.fade-out {
  animation: 0.2s ease-out 0s normal forwards 1 fade-out-keys;
}

@keyframes fade-in-scale-keys {
  0% {
    scale: 0.95;
    opacity: 0;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

@keyframes fade-out-scale-keys {
  0% {
    scale: 1;
    opacity: 1;
  }
  100% {
    scale: 0.95;
    opacity: 0;
  }
}

@keyframes fade-in-keys {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade-out-keys {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}



 /* Main Page (index) */

 .hero-section {
    position: relative;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-position: center;
    background-image: url("../../images/moon.jpg");
    background-color: #1e1e1e;
    background-size: cover;
    height: 100vh;
}

.social-icon {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    background-color: #fffc;
    padding: 6px;
}



/* Shared by Login and Sign Up */


.split {
    z-index: 1;
    top: 0;
    overflow-x: hidden;
}

.left {
    left: 0;
    background-color: #000;
    width: 70%;
    overflow-y: hidden;
    position: relative;
}

@media(max-width: 750px) {
  .left {
    width: 100%;
    overflow-y: hidden;
    position: initial;
    height: 40vh;
    bottom: 0;
  }

}


.right {
    right: 0;
    background-color: #E5E5E5;
    width: 100%;
    position: relative;
}

@media(max-width: 750px) {
  .right {
    right: 0;
    background-color: #ededed;
    width: 100%;
    position: initial;
  }
}


.welcome-left-title{
    color: #FFF;
    position: absolute;
    left: 14.5%;
    right: 0;
    top: 7%;
    bottom: 89.78%;
    /* Head 1 */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    /* identical to box height, or 133% */
    text-align: center;
    z-index: 10;
}

@media(max-width: 750px) {
  .welcome-left-title {
    position: absolute;
    left: 20px;
    right: 0;
    top: 15px;
    bottom: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    text-align: center;
    z-index: 2000;
    height: 50px;
    background: unset;
  }
}


.welcome-left-text{
    color: #FFFFFF;
    position: absolute;
    left: 13%;
    right: 0%;
    bottom: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 2.25rem;
    z-index: 10;
}


.login .welcome-left-text,
.reset .welcome-left-text {
  top: 82%;
}


@media(max-width: 750px) {
  .welcome-left-text {
    color: #ededed;
    position: absolute;
    left: 0;
    bottom: 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 2.25rem;
    z-index: 1000;
    height: 20vh;
    background: #000;
    width: 100%;
  }

  .login .welcome-left-text,
  .reset .welcome-left-text {
  top: 90%;
  }
}


/* .welcome-center-logo{
    display: none;
    position: absolute;
    left: 0;
    right: -2.31%;
    top: 0;
    bottom: 14.33%;
    height: 100%;
    background: #000000a3;
    z-index: 5;
} */





.welcome-left-logo{
    height: 100%;
    background-image: url(/images/bg-globe.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 50%;
    z-index: 5;
    top: -10px;
    position: relative;   
}

@media(max-width: 750px) {
  .welcome-left-logo {
    height: 100%;
    background-image: url(/images/bg-globe.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: 50%;
    z-index: 120;
    top: 0;
    position: relative;
    background-position-y: 20%;
  }
}

.centered {
  /* Center vertically and horizontally */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 750px) {
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
  }
}

.form-body{
  flex: none;
  order: 1;
  flex-grow: 0;
}


.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 60px;
  gap: 32px;
  background: #FFF;
  box-shadow: 0px 10px 20px rgba(112, 144, 176, 0.25);
  border-radius: 20px;
}

@media(max-width: 750px) {
  .form-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 390px;
    min-width: 240px;
    padding: 2rem;
    gap: 32px;
    background: #FFF;
    box-shadow: 0px 10px 20px rgba(112, 144, 176, 0.25);
    border-radius: 20px;
  }

}


.form-header{
  position: relative;
  left: -2px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  /* identical to box height, or 133% */
  text-align: left;
  flex: none;
  order: 0;
  flex-grow: 0;
}


.form-input-label{
  /* Label */
  /* text-base/leading-6/font-semibold */

  /* font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px; */
  /* identical to box height, or 150% */

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  flex: none;
  order: 0;
  flex-grow: 0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

.form-input{
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 24px;
  width: 423px;
  height: 48px;

  background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #D2D2D1;
  border: 2px solid #D2D2D1;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

@media(max-width: 750px) {
  .form-input{
    box-sizing: border-box;

    /* Auto layout */

    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 12px 24px;

    width: 100%;
    min-width: 320px;
    height: 48px;

    background: linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9)), #D2D2D1;
    border: 2px solid #D2D2D1;
    border-radius: 10px;

    /* Inside auto layout */

    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

  }

}

.form-input-container{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 15px;
  gap: 8px;
  left: 0px;
  top: 102px;
}


/* Login  */

.login {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}


.login .form-link{
    margin: 10px 0px 10px 1px;

    /* Body */

    font-family: 'Poppins';
    font-style: normal;
    /* identical to box height, or 150% */
    text-align: left;

    /* Primary color */

    color: #4385F5;
}

.login .form-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    gap: 12px;

    width: 180px;
    height: 48px;
    left: 0px;
    top: 267.5px;

    /* Primary color */

    background: #4385F5;
    border-radius: 10px;
    color: #FFFFFFCC;
    margin-top: 5%;
}

.login .form-redirect{
    position: absolute;
    left: calc(50% - 61px/2 + 17px);
    top: calc(50% - 24px/2 + 134px);

    /* text-base/leading-6/font-semibold */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Primary color */

    color: #4385F5;
}



/* Sign Up */

.signup {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
}

@media(max-width: 375px) {

  .signup .centered {

    transform: translate(-50%, -42%);
  }
}


.signup .form-link{
    margin: 10px 0px 10px 1px;

    /* Body */

    font-family: 'Poppins';
    font-style: normal;
    /* identical to box height, or 150% */
    text-align: left;

    /* Primary color */

    color: #4385F5;
}

.signup .form-button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px 48px;
    gap: 12px;

    width: 180px;
    height: 48px;
    left: 0px;
    top: 267.5px;

    /* Primary color */

    background: #4385F5;
    border-radius: 10px;
    color: #FFFFFFCC;
    margin-top: 5%;
}

.signup .form-redirect{
    position: absolute;
    left: calc(50% - 61px/2 + 17px);
    top: calc(50% - 24px/2 + 134px);

    /* text-base/leading-6/font-semibold */

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */

    text-align: center;

    /* Primary color */

    color: #4385F5;
}


/* Reset */

.reset {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}


.reset .form-link{
  margin: 10px 0px 10px 1px;

  /* Body */

  font-family: 'Poppins';
  font-style: normal;
  /* identical to box height, or 150% */
  text-align: left;

  /* Primary color */

  color: #4385F5;
}

.reset .form-button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 48px;
  gap: 12px;

  width: 180px;
  height: 48px;
  left: 0px;
  top: 267.5px;

  /* Primary color */

  background: #4385F5;
  border-radius: 10px;
  color: #FFFFFFCC;
  margin-top: 5%;
}

.reset .form-redirect{
  position: absolute;
  left: calc(50% - 61px/2 + 17px);
  top: calc(50% - 24px/2 + 134px);

  /* text-base/leading-6/font-semibold */

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  /* Primary color */

  color: #4385F5;
}






