{erl_opts, [debug_info]}.
{deps, [
    {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
    {erlpass, {git, "https://github.com/ferd/erlpass.git", {branch, "master"}}},
    {nanoid, {git, "https://github.com/zaryntech/nanoid.git", {branch, "main"}}},
    {key_guardian, {git, "https://github.com/zaryntech/key-guardian", {branch, "main"}}},
    {epgsql, "4.6.0"},
    {bcrypt, ".*", {git, "https://github.com/erlangpack/bcrypt.git", {branch, "master"}}},
    {jsone, {git, "https://github.com/sile/jsone", {branch, "master"}}},
    {jsx, {git, "https://github.com/talentdeficit/jsx", {branch, "main"}}},
    {gun, {git, "https://github.com/ninenines/gun", {branch, "master"}}},
    {jiffy, {git, "https://github.com/davisp/jiffy", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [otpcode, erlpass]}
]}.
