{erl_opts, [debug_info]}.
{deps, [
    {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
    {erlpass, {git, "https://github.com/ferd/erlpass.git", {branch, "master"}}},
    {nanoid, {git, "https://github.com/zaryntech/nanoid.git", {branch, "main"}}},
    {epgsql, "4.6.0"},
    {bcrypt, ".*", {git, "https://github.com/erlangpack/bcrypt.git", {branch, "master"}}}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [otpcode, erlpass]}
]}.
