{erl_opts, [debug_info]}.
{deps, [
  {bcrypt, "1.1.5"},
  {epgsql, "4.6.0"},
  {erlpass, {git, "https://github.com/ferd/erlpass.git", {branch, "master"}}},
  {base58, {git, "https://github.com/helium/erl-base58", {branch, "master"}}},
  {ebip39, {git, "https://github.com/aeternity/ebip39", {branch, "master"}}},
  {proper, ".*", {git, "https://github.com/manopapad/proper.git", {branch, "master"}}},
  {libp2p_crypto, "1.0.1"}
]}.

{shell, [
    {config, "config/sys.config"},
    {apps, [otpcode, erlpass]}
]}.
