[
 {kernel,
    [
      {logger, [
        {handler, default, logger_std_h, #{level => notice}},

        {handler, info, logger_std_h,
          #{level => debug,
            config => #{file => "log/info.log"}}},

        {handler, error, logger_std_h,
          #{level => debug,
            config => #{file => "log/error.log"}}},


        {handler, debug, logger_std_h,
          #{level => debug,
            config => #{file => "log/debug.log"}}}
      ]}
    ]}
].