<div class="bg-[#FAFAFA]">Please Verify Your Email
    <div class="w-full lg:w-[18%] py-6">

        <!-- middle column -->
        <div class="w-full lg:w-[54%] py-6 pl-11 pr-8">
            <div class="w-full bg-white white:bg-gray-800 custom-box-shadow pr-8 pl-7 pb-7 pt-4 rounded-[20px]">
            </div>
            <div class="flex flex-wrap justify-center align-center mb-6">
            </div>
        </div>
    </div>
</div>
