<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Verification</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
  </head>
  <body>
    <div class="flex items-center justify-center min-h-screen p-5 bg-blue-100 min-w-screen">
      <div class="max-w-xl p-8 text-center text-gray-800 bg-white shadow-xl lg:max-w-3xl rounded-3xl lg:p-12">
        <h1 class="text-2xl">Thanks for signing up for Mazaryn!</h1>
        <div class="flex justify-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="block w-24 h-24 my-4 text-green-400"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="1"
              d="M3 19v-8.93a2 2 0 01.89-1.664l7-4.666a2 2 0 012.22 0l7 4.666A2 2 0 0121 10.07V19M3 19a2 2 0 002 2h14a2 2 0 002-2M3 19l6.75-4.5M21 19l-6.75-4.5M3 10l6.75 4.5M21 10l-6.75 4.5m0 0l-1.14.76a2 2 0 01-2.22 0l-1.14-.76"
            />
          </svg>
        </div>
        <p class="max-w-[460px]">
          We're happy you're here. Please check your email inbox for our confirmation and verify your email address account.
        </p>
        <p class="hidden">We're happy you're here. Let's get your email address verified:</p>
        <div class="mt-4 hidden">
          <button class="px-4 py-2 text-blue-200 bg-blue-600 rounded">
            Verify Email Address
          </button>
          <p class="mt-4 text-sm">
            If you’re having trouble clicking the "Verify Email Address", copy
            and
            paste
            the URL below
            into your web browser:
            <a href="#" class="text-blue-600 underline">
              http://mazaryn:io/email/verify/3/1ab7a09a3
            </a>
          </p>
        </div>
      </div>
    </div>
  </body>
</html>
