<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <%= csrf_meta_tag() %>
      <%= live_title_tag assigns[:page_title] || "Mazaryn", suffix: " · an Online community which empower users to explore their Talents" %>
      <link phx-track-static rel="stylesheet" href= {Routes.static_path(@conn, "/assets/app.css")}/>
      <link phx-track-static href="//fonts.googleapis.com/css?family=Open+Sans:400,600,300" rel='stylesheet' type='text/css'>
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5319093423466090" crossorigin="anonymous"></script>
      <script defer phx-track-static type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
      <script defer phx-track-static type="text/javascript" src={ Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <div class="loader">
      <div class="strip-holder">
        <div class="strip-1"></div>
        <div class="strip-2"></div>
        <div class="strip-3"></div>
      </div>
    </div>

    <a id="top"></a>


    <%= @inner_content %>

    <%# <div align="center">
      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5319093423466090" crossorigin="anonymous"></script>
      <!-- mazaryn-display -->
      <ins class="adsbygoogle"
          style="display:block"
          data-ad-client="ca-pub-5319093423466090"
          data-ad-slot="1536507325"
          data-ad-format="auto"
          data-full-width-responsive="true"></ins>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({});
      </script>
    </div>  %>

  </body>
</html>
